/*General*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

html,
body {
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

p {
    margin: 1.5pt 0;
}

.btn-primary {
    background-color: #f2a340;
    border: 2px solid #c28008;
}

.btn-primary:hover {
    background-color: #c28008;
    border-color: #c28008;
}

/*Navbar*/
.navbar img {
    width: 50px;
}

.navbar {
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 0;
}

.navbar a {
    font-size: 14px;
    color: #757575;
}

.navbar a:hover {
    color: #f2a340;
}

.row {
    margin: 0;
}

/*Search Container*/
#search-container {
    background-image: url('../img/event_search-container_background.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: #f2a340;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form {
    margin: auto;
    width: 50%;
}

/*Events List*/
#events-container {
    padding: 50px;
}

#events-container h2 {
    margin-bottom: 10px;
}

#events-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
}

#cards-container {
    display: flex;
}

#events-container .card {
    flex: 1 1 0;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
}

#events-container img {
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date {
    font-size: 12px;
    color: #ccc;
}

.card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participants {
    font-size: 14px;
}


/*Footer*/
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: #353e48;
    color: #ccc;
    font-size: 1em;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icon {
    width: 30px;
}

.socialList {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
}

.socialList li {
    margin: 0 0.5em;
    font-size: 1em;
}

.socialList a {
    text-decoration: none;
}

.socialList a:hover {
    color: #ffbb33;
}

.ref {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 0.7rem;
    padding-right: 20px;
}

.refSpan {
    color: #f2a340;
    font-weight: bold;
}

.footer a {
    padding: 2px;
    text-decoration: none;
    color: #ccc;
    cursor: pointer;
}